.get-started-button {
  background-color: rgb(121, 82, 179);
  color: white;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 6px;
  transition: background-color 0.15s;
}

.get-started-button:hover {
  background-color: rgb(99, 60, 156);
}

.download-button {
  background-color: white;
  color: grey;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 17px;
  padding-right: 17px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.15s,
    color 0.15s;
}

.download-button:hover {
  background-color: rgb(108, 117, 125);
  color: white;
}