p {
  font-family: Arial;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.description {
  font-size: 15px;
  margin-bottom: 28px;
}

.learn-more-link {
  color: rgb(23, 135, 172);

}

.learn-more-link:hover {
  text-decoration: underline;
  cursor: pointer;
}