body {
  height: 3000px;
}

.product-container {
  position: relative;
  display: inline-block;
}

.shirt {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.promotion {
  background-color: black;
  color: white;
  position: absolute;
  top: 10px;
  right: 0px;
  font-family: Arial;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left: 12px;
}