body {
  height: 3000px;
  font-family: Arial;
}

.right-sidebar {
  background-color: green;
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  background-color: white;
  left: 55px;
  right: 55px;
  padding-left: 15px;
  padding-bottom: 30px;
  border-radius: 12px;
}

.modal-title {
  font-family: arial;
  font-size: 50px;
  font-style: 700;
  padding-top: 15px;
  padding-bottom: 12px;
}

.modal-content {
  font-size: 25px;
  margin-bottom: 15px;
}

.close-button {
  font-size: 20px;
  color: black;
  border-radius: 4px;
  border-style: solid;
  border-color: rgb(154, 153, 153);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-left: 8px;
  cursor: pointer;
}