.search-bar {
  font-size: 16px;
  width: 500px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;

  border-radius: 30px;

  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);

  margin-top: 20px;
  margin-bottom: 20px;
}