p {
  color: rgb(100, 100, 100);
  padding-top: 0;
  padding-bottom: 0%;
}

.email {
  font-size: 16px;
  margin-bottom: 10px;
}

.search-bar {

  width: 380px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(100, 100, 100);
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;

  margin-bottom: 20px;

}

.agreement {
  font-size: 16px;
  margin-bottom: 20px;
}

.join-button {
  background-color: rgb(10, 102, 194);
  color: white;
  border: none;
  font-size: 20px;
  width: 380px;
  padding-top: 16px;
  padding-bottom: 16px;

  border-radius: 15px;
}