.youtube-music {
  font-family: Arial;
  background-color: rgb(33, 33, 33);
  width: 360px;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;
}

.install {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  color: rgb(160, 160, 160);
}