.status {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  width: 450px;
  border-radius: 6px;
}

.cat-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  /* object-position: center; */
  border-radius: 25px;
  vertical-align: middle;

  margin-right: 5px;
}

.tweet {
  font-size: 18px;
  border: none;
  vertical-align: middle;

}

.tweet-button {
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;

  border-radius: 30px;
  cursor: pointer;
  vertical-align: middle;
}