p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.profile {
  width: 200px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin-right: 15px;
}


.profile-picture {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 12px;
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin-left: 8px;
  margin-bottom: 4px;

}

.mutual-friends {
  color: rgb(100, 100, 100);
  font-size: 12px;
  margin-left: 8px;
  margin-bottom: 8px;
}

.add-friend-button {
  background-color: rgb(24, 119, 242);
  color: white;
  border: none;
  font-size: 16px;

  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;

  margin-left: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}