div {
  text-align: center;
}

.google-logo {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.search-bar {
  border: none;
  font-size: 16px;
  width: 500px;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;

  border-radius: 30px;

  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);

  margin-bottom: 30px;
}

.google-button {
  background-color: rgb(245, 245, 245);
  border: none;
  font-size: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

.search-button {
  margin-right: 10px;
}