body {
  font-family: Arial;
}

.container {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 8px;
  width: 300px;

}

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;

}

.notifications {
  background-color: rgb(49, 109, 245);
  color: white;
  align-items: center;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 700;
}

.flexbox {
  /* display: flex;
  flex-direction: row;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  border-radius: 6px; */
}

.notification14 {
  /* background-color: red; */
}